/debian/.debhelper
/debian/tmp
/debian/system76-power
/.cargo/
/debian/files
/target/
/vendor/
vendor.tar
vendor.tar.xz

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
