/.cargo/
debian/*
!debian/*.install
!debian/*.postinst
!debian/*.postrm
!debian/*.preinst
!debian/*.service
!debian/*.triggers
!debian/changelog
!debian/control
!debian/copyright
!debian/postinst
!debian/rules
!debian/source
/target/
/vendor/
vendor.*
