[package]
name = "system76-power"
version = "1.0.0"
authors = ["Jeremy Soller <jackpot51@gmail.com>"]
edition = "2018"

[dependencies]
dbus = "0.6"
libc = "0.2"
clap = "2.32"
log = "0.4.3"
fern = "0.5.6"
intel-pstate = "0.2.0"
sysfs-class = { git = "https://github.com/pop-os/sysfs-class" }
err-derive = "0.1.5"


[build-dependencies]
vergen = "0.1.1"
