[package]
name = "system76-power"
version = "1.1.22"
authors = ["Jeremy Soller <jackpot51@gmail.com>"]
edition = "2018"

[dependencies]
clap = { version = "3", features = ["derive"] }
concat-in-place = "1.0.0"
dbus = "0.9"
dbus-crossroads = "0.5"
dbus-tokio = "0.7"
fern = "0.6"
futures = "0.3"
hidapi = "1.2"
inotify = "0.9"
intel-pstate = "1.0.1"
libc = "0.2"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sysfs-class = { git = "https://github.com/pop-os/sysfs-class" }
thiserror = "1.0"
tokio = { version = "1.13", features = ["macros", "rt", "time", "signal"] }
