Source: system76-power
Section: admin
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends:
  debhelper-compat (= 11),
  cargo,
  libdbus-1-dev,
  libusb-1.0-0-dev,
  pkg-config
Standards-Version: 4.1.1
Homepage: https://github.com/pop-os/system76-power

Package: system76-power
Architecture: amd64 arm64
Conflicts: nvidia-prime, power-profiles-daemon
Provides: nvidia-prime, power-profiles-daemon
Replaces: nvidia-prime, power-profiles-daemon
Depends:
  dbus,
  systemd,
  ${misc:Depends},
  ${shlibs:Depends}
Description: System76 Power Management
