Source: system76-power
Section: admin
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends:
  debhelper (>=9),
  cargo,
  dh-systemd,
  libdbus-1-dev,
  pkg-config
Standards-Version: 4.1.1
Homepage: https://github.com/pop-os/system76-power

Package: system76-power
Architecture: amd64
Conflicts: nvidia-prime
Provides: nvidia-prime
Replaces: nvidia-prime
Depends:
  dbus,
  systemd,
  ubuntu-drivers-common,
  ${misc:Depends},
  ${shlib:Depends}
Description: System76 Power Management
