#!/usr/bin/make -f

export VENDOR ?= 1
CLEAN ?= 1

%:
	dh $@

override_dh_auto_build:
	env CARGO_HOME="$$(pwd)/target/cargo" \
		dh_auto_build

override_dh_auto_install:
	dh_auto_install --destdir="debian/tmp"

override_dh_installsystemd:
	dh_installsystemd --name=com.system76.PowerDaemon

override_dh_auto_clean:
	if test "${CLEAN}" = "1"; then \
		cargo clean; \
	fi

	if ! ischroot && test "${VENDOR}" = "1"; then \
		mkdir -p .cargo; \
		cargo vendor | head -n -1 > .cargo/config; \
		echo 'directory = "vendor"' >> .cargo/config; \
		tar pcJf vendor.tar.xz vendor; \
		rm -rf vendor; \
	fi
